In [ ]:
import glob
import pandas as pd
import os

In [ ]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [ ]:
!unzip NICE.zip

In [ ]:
def dataframe_nice(): 
  general = pd.DataFrame()
  for archivo in glob.glob("/content/DOCUMENTOS CONSOLIDADOS LIMPIOS/*.csv"): 
    nombre = str(os.path.basename(archivo))
    df = pd.read_csv(archivo,encoding='utf8',dtype=object)
    df["DB"] = nombre
    df["FECHA"]= pd.to_datetime(df["FECHA"],errors='coerce')
    importante = df[["FECHA","DB"]]
    importante = pd.DataFrame(importante)
    general=general.append(importante,ignore_index=True)
  
  return general
db= dataframe_nice()

In [ ]:
db = pd.get_dummies(db, columns=['DB'])

In [ ]:
db.head()

,FECHA,DB_armas_incautadas.csv,DB_armas_robadas.csv,DB_artefactos_explosivos.csv,DB_buses.csv,DB_delitos_sexuales.csv,DB_desaparecidos.csv,DB_detenidos.csv,DB_motos_recuperadas.csv,DB_motos_robadas.csv,DB_muertes_otras_causas.csv,DB_patrimonio_I.csv,DB_patrimonio_II.csv,DB_peatones_l.csv,DB_remitidos.csv,DB_retenidos.csv,DB_secuestros.csv,DB_turistas.csv,DB_vehiculos_recuperados.csv,DB_vehiculos_robados.csv,DB_vida_l.csv,DB_violencia_intrafamiliar.csv
0,2016-01-01,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2016-01-01,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,2016-01-01,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2016-01-01,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2016-01-01,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
cool= db.groupby([db.FECHA.dt.year,db.FECHA.dt.month]).sum()

In [ ]:
cool.head()

              DB_armas_incautadas.csv  ...  DB_violencia_intrafamiliar.csv
FECHA  FECHA                           ...
1900.0 1.0                        0.0  ...                             0.0
2016.0 1.0                      361.0  ...                           138.0
       2.0                      351.0  ...                           121.0
       3.0                      422.0  ...                           170.0
       4.0                      425.0  ...                           164.0

[5 rows x 21 columns]

In [ ]:
import numpy as np

In [ ]:
#cool[cool.loc[:,:] == 0.0] = -100
cool[cool.loc[:,:] > 0.0] = np.NaN
cool[cool.loc[:,:] == 0.0] = "X"

In [ ]:
cool

             DB_armas_incautadas.csv  ... DB_violencia_intrafamiliar.csv
FECHA  FECHA                          ...
1900.0 1.0                         X  ...                              X
2016.0 1.0                       NaN  ...                            NaN
       2.0                       NaN  ...                            NaN
       3.0                       NaN  ...                            NaN
       4.0                       NaN  ...                            NaN
...                              ...  ...                            ...
2021.0 6.0                       NaN  ...                            NaN
       7.0                       NaN  ...                            NaN
       8.0                       NaN  ...                            NaN
       9.0                       NaN  ...                            NaN
       12.0                        X  ...                              X

[69 rows x 21 columns]